{% extends 'account_base.html' %}
{% load static i18n %}

{% block content %}

<div class="content">
  <div class="container">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header ">
          <h3 class="header text-center">無効なアカウントです。</h3>
        </div>
        <div class="card-body ">
          <p>アカウントが無効になっています。
          </br>心当たりのない場合は
          </br>管理者にお問い合わせください。
          </p>
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
