{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- 1行追加 -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <!-- <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}SFACD{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sales Force Automation of Car Dealer">
    <meta name="author" content="LTS">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!--     Fonts and icons    追加 -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap 4.1.1 CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
    

    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/paper-dashboard.css' %}?v=2.0.1">
    
    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    
    
    {% endblock css %}

  </head>

  <body class="offline-doc">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-icon btn-round">
              <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
              <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
            </button>
          </div>
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="#pablo">Paper Dashboard 2 PRO</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/creativetimofficial/paper-dashboard-pro/issues" target="_blank">
                Have an issue?
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    {% block content %}{% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- 以下4行デフォルトjavascript -->
      <!-- Required by Bootstrap v4.1.1 -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

      <!-- 以下creative-timより -->
      <!--   Core JS Files   -->
      <script src="{% static 'js/core/jquery.min.js' %}"></script>
      <script src="{% static 'js/core/popper.min.js' %}"></script>
      <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
      <script src="{% static 'js/plugins/moment.min.js' %}"></script>
      <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
      <script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
      <!--  Plugin for Sweet Alert -->
      <script src="{% static 'js/plugins/sweetalert2.min.js' %}"></script>
      <!-- Forms Validations Plugin -->
      <script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
      <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
      <script src="{% static 'js/plugins/jquery.bootstrap-wizard.js' %}"></script>
      <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
      <script src="{% static 'js/plugins/bootstrap-selectpicker.js' %}"></script>
      <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
      <script src="{% static 'js/plugins/bootstrap-datetimepicker.js' %}"></script>
      <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
      <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
      <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
      <script src="{% static 'js/plugins/bootstrap-tagsinput.js' %}"></script>
      <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
      <script src="{% static 'js/plugins/jasny-bootstrap.min.js' %}"></script>
      <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
      <script src="{% static 'js/plugins/fullcalendar.min.js' %}"></script>
      <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
      <script src="{% static 'js/plugins/jquery-jvectormap.js' %}"></script>
      <!--  Plugin for the Bootstrap Table -->
      <script src="{% static 'js/plugins/nouislider.min.js' %}"></script>
      <!--  Google Maps Plugin    -->
      <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
      <!-- Chart JS -->
      <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
      <!--  Notifications Plugin    -->
      <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
      <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="{% static 'js/paper-dashboard.min.js' %}?v=2.0.1" type="text/javascript"></script>
        
      <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
      <!-- <script src="../assets/demo/js/demo.js"></script>
      <script src="../assets/demo/docs.min.js"></script>
      <script src="../assets/demo/vendor/anchor.min.js"></script>
      <script src="../assets/demo/vendor/clipboard.min.js"></script>
      <script src="../assets/demo/vendor/holder.min.js"></script>
      <script src="../assets/demo/src/application.js"></script> -->

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      

    {% endblock javascript %}
  </body>
</html>

