{% extends 'account_base.html' %}
{% load static i18n %}

{% block content %}

<div class="content" style="height: 100vh;">
  <div class="container">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="card card-login">
          <div class="card-header ">
            <div class="card-header ">
              <h3 class="header text-center">パスワードの変更</h3>
            </div>
          </div>
          <div class="card-body ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                </span>
              </div>
              <input type="password" placeholder="現在のパスワード" name="oldpassword" class="form-control">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="nc-icon nc-key-25"></i>
                </span>
              </div>
              <input type="password" placeholder="変更後のパスワード" name="password1" class="form-control">
              <p style="font-size: 11px; color: #999;">あなたの他の個人情報と似ているパスワードにはできません。<br/>
                パスワードは最低 8 文字以上必要です。<br/>
                よく使われるパスワードにはできません。<br/>
                数字だけのパスワードにはできません。</p>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="nc-icon nc-key-25"></i>
                </span>
              </div>
              <input type="password" placeholder="変更後のパスワード(再入力)" name="password2" class="form-control">
            </div>
            <br/>
            <!-- <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" checked="">
                  <span class="form-check-sign"></span>
                  Subscribe to newsletter
                </label>
              </div>
            </div> -->
          </div>
          <div class="card-footer ">
            <button type="submit" class="btn btn-warning btn-round btn-block mb-3">パスワード変更</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
